
$primarycolor: #F5F5F5;
.app-container {
  background-color: $primarycolor;
}
.color {
    color: $primarycolor;
  }
.font-viaoda-libre {
  font-family: viaoda-libre;
}
.font-inter {
  font-family: Inter ;
}
.top-88 {
  top: 88%;
}
.right-77 {
  right: 77%;
}
.w-105 {
  width: 105%;
}
.w-512 {
  width: 512px;
}
.h-103 {
  height: 103%;
}
.h-42 {
  height: 42px;
}
.invitation_template_section {
  background-color: white;
}
.image-background {
    height: 7rem;
    margin-top: 96.5%;
    border-radius: 7px;
}