
$primarycolor: #F5F5F5;
.app-container {
  background-color: $primarycolor;
}
.color {
    color: $primarycolor;
  }
.font-viaoda-libre {
  font-family: viaoda-libre;
}
.vector-blue {
    position: absolute;
left: 24.01%;
right: 62.61%;
top: 0.04%;
bottom: 30.23%;

background: linear-gradient(186.7deg, #3B82F6 0.14%, #93C5FD 94.41%);
}